LMSGI/2ºTrimestre/Act_UT05_02/comprobar_elem_valid.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Elemento raíz -->
    <xs:element name="cartelera">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="película" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="título">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="4"/>
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="título_original" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="4"/>
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="nacionalidad" type="xs:string"/>
                            <xs:element name="género" type="xs:string"/>
                            <xs:choice>
                                <xs:element name="clasificación">
                                    <xs:complexType>
                                        <xs:attribute name="edad">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="tp"/>
                                                    <xs:enumeration value="8"/>
                                                    <xs:enumeration value="12"/>
                                                    <xs:enumeration value="16"/>
                                                    <xs:enumeration value="18"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="sin_clasificar"/>
                            </xs:choice>
                            <xs:element name="sinopsis" type="xs:string"/>
                            <xs:element name="director" type="xs:string"/>
                            <xs:element name="reparto">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="actor" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string"/>
                                                    <xs:element name="apellidos" type="xs:string"/>
                                                    <xs:element name="fechaNacimiento" type="xs:date"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="web" type="xs:anyURI" minOccurs="0"/>
                            <xs:element name="cartel" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="código" type="xs:string" use="required"/>
                        <xs:attribute name="duración" type="xs:integer" use="required"/>
                        <xs:attribute name="año" use="optional" default="2003">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1919"/>
                                    <xs:maxInclusive value="2025"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
