LMSGI/2ºTrimestre/Act_UT05_02/validar_fichero.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="editoriales">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="editorial" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="direccion" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="paginaWeb" type="xs:string" />
                            <xs:element name="telefono" type="xs:string" />
                            <xs:element name="fax" type="xs:string" />
                            <xs:element name="libros">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="libro" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string" />
                                                    <xs:element name="autor" type="xs:string" />
                                                    <xs:element name="fecha" type="xs:date" />
                                                    <xs:element name="isbn" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>