LMSGI/2ºTrimestre/Validación DTD/2.dtd

<!ELEMENT catalogo (categoria+)>
<!ELEMENT categoria (producto+)>
<!ATTLIST categoria nombre CDATA #REQUIRED>
<!ELEMENT producto (nombre, precio, stock)>
<!ATTLIST producto id ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)> 
<!ATTLIST precio moneda (EUR | USD) #REQUIRED>
<!ELEMENT stock (#PCDATA)>
